<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="aminrup.master.cs" Inherits="WebApplication1.bussiness.production.aminrup.aminrup" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../../erp_images/ats_translogo.png" type="image/ico" />

    <title>MASTER</title>
    <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="../../vendors/iCheck/skins/flat/red.css" rel="stylesheet" />
    <link href="../../vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="../../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="../../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="../../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="../../vendors/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="../../build/css/custom.min.css" rel="stylesheet" />
    <link href="../../build/css/custom.css" rel="stylesheet" />
    <script src="../../vendors/DataTables/datatables.min.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-197761506-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-197761506-1');


    </script>

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        var i = 0;
        function ShowCurrentTime() {
            var dt = new Date();
            document.getElementById("lblTime1").innerHTML = 8 - i + " Minutes";
            i++;
            if (i == 8) {
                setTimeout("location.href='http://atswork.in/'", 0);
            }
            window.setTimeout("ShowCurrentTime()", 800000); // Here 1000(milliseconds) means 1 sec
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            ShowTime();
        });
        function ShowTime() {
            var dt = new Date();
            document.getElementById("lblTime").innerHTML = dt.toLocaleTimeString();
            window.setTimeout("ShowTime()", 800000); // Here 1000(milliseconds) means one 1 Sec
        }
    </script>
</head>
<body class="nav-sm footer_fixed" onload="ShowCurrentTime()">
    <form id="form1" runat="server">
        <div class="container body">
			<div class="main_container">
                <div class="col-md-3 left_col">
					<div class="left_col scroll-view">
						<div class="navbar nav_title" style="border: 0;">
							<a href="#" class="site_title">
								<asp:Image ID="Image1" runat="server" ImageUrl="~/erp_images/ats_logo.jpg" Height="50" Width="50" /><span>&nbsp;&nbsp;ATS</span>
							</a>
						</div>

						<div class="clearfix"></div>

						<!-- menu profile quick info -->
						<div class="profile clearfix">
							<div class="profile_pic">
								<img src="../images/img.jpg" alt="..." class="img-circle profile_img">
							</div>
							<div class="profile_info">
								<span>Welcome,</span>
								<h2>
									<asp:Label ID="lbl_loginusername1" runat="server" Text="Login_Name"></asp:Label></h2>
							</div>
						</div>
						<!-- /menu profile quick info -->

						<br />

						<!-- sidebar menu -->
						<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
							<div class="menu_section">
								<h3>General</h3>
								<ul class="nav side-menu">
									<li id="HomePage" runat="server" visible="true"><a><i class="fa fa-home"></i>Home <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li id="Home1" runat="server" visible="true"><a href="homepage.aspx">Dashboard-1<span class="label label-success pull-right">Click !!</span></a></li>
											<li id="AttendnaceCal" runat="server" visible="true"><a href="vw_emp_attencal.aspx">Attendance<span class="label label-success pull-right">Click !!</span></a></li>
										</ul>
									</li>

									<li id="DataMastering" runat="server" visible="true"><a><i class="fa fa-database"></i>Data Mastering <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li id="Auth" runat="server" visible="true"><a>Auth<span class="fa fa-chevron-down"></span></a>
												<ul class="nav child_menu">
													<li id="UserRoles" runat="server" class="sub_menu"><a href="manage_roles.aspx">Manage Roles</a></li>
													<li id="WorkState" runat="server"><a href="work_states.aspx">Work States</a></li>
													<li id="WorkRegion" runat="server"><a href="work_region.aspx">Work Regions</a></li>
												</ul>
											</li>
										</ul>
									</li>

									<li id="Analytics" runat="server" visible="false"><a><i class="fa fa-edit"></i>JOB Analytics<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu">
											<li id="monthlysummary" runat="server" class="sub_menu"><a href="view_monthlyjobs.aspx">Monthly Summary</a></li>
											<li id="dailysummary" runat="server"><a href="view_dailyjobs.aspx">Daily Summary</a></li>
											<li id="empsummary" runat="server"><a href="view_empmonthlyatt.aspx">Employee Summary</a></li>
											<li id="swapjobdate" runat="server"><a href="swap_jobdate.aspx">Swap JOB Date</a></li>
										</ul>
									</li>

								</ul>
							</div>

							<div class="menu_section">
								<h3>Live On</h3>
								<ul class="nav side-menu">
									<li><a href="../../../index.html" target="_blank"><i class="fa fa-laptop"></i>Landing Page <span class="label label-success pull-right">Click !!</span></a></li>
								</ul>
							</div>

						</div>
						<!-- /sidebar menu -->

						<!-- /menu footer buttons -->
						<div class="sidebar-footer hidden-small">
							<a data-toggle="tooltip" data-placement="top" title="Settings">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</a>
							<a data-toggle="tooltip" data-placement="top" title="FullScreen">
								<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
							</a>
							<a data-toggle="tooltip" data-placement="top" title="Lock">
								<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
							</a>
							<a data-toggle="tooltip" data-placement="top" title="Logout" href="#">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
							</a>
						</div>
						<!-- /menu footer buttons -->
					</div>
				</div>

				<!-- top navigation -->
				<div class="top_nav">
					<div class="nav_menu">
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<nav class="nav navbar-nav">
							<ul class=" navbar-right">
								<li class="nav-item dropdown open" style="padding-left: 15px;">
									<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
										<img src="../images/img.jpg" alt=""><asp:Label ID="lbl_loginusername2" runat="server" Text="Login_Name"></asp:Label>
									</a>
									<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="manage_profile.aspx">Manage Profile</a>
										<a class="dropdown-item" target="_blank" href="https://wa.me/message/IWCQS7KUJRAHA1">Support</a>
										<%--<a class="dropdown-item" href="#"><i class="fa fa-sign-out pull-right"></i>Log Out</a>--%>
										<button type="button" class="dropdown-item btn btn-primary btn-sm" id="btn_Logout" data-toggle="modal" data-target="#MyModal_Logout">Logout</button>
									</div>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- /top navigation -->
            </div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>



        <%--- Logout Modal --%>
		<div class="modal fade" id="MyModal_Logout" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Confirm your Log Out</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="col-md-6 col-sm-12 form-group">
										<label><span class="text text-danger">Click to Close the Session</span></label>
									</div>
									<div class="col-md-6 col-sm-12 form-group">
										<asp:Button ID="btn_lgout" runat="server" CausesValidation="false" Text="Yes" CssClass="btn btn-danger btn-sm" OnClick="btn_lgout_Click"/>
										<button type="button" class="btn btn-sm btn-success" data-dismiss="modal">No</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<%--- Logout Modal -------- END --%>

        <br />
		<!-- footer content -->
		<footer>
			<div class="text-center" id="iprow" runat="server" visible="false">
				Login from IP :
				<asp:Label ID="lbl_IPAddress" runat="server" Text="N/A" Visible="false"></asp:Label>
			</div>
			<div class="text-right small">
				Autologout >
					<asp:Label ID="lblTime1" runat="server" Text="N/A" Font-Bold="true" ForeColor="IndianRed" Visible="true"></asp:Label>
				|| Time :
					<asp:Label ID="lblTime" runat="server" Text="N/A" Font-Bold="true" ForeColor="Black" Visible="true"></asp:Label>
				|| © 2021-23 <span style="font-weight: bold; color: darkred;">ATS</span>
				|| Powered by <a href="https://www.ourhelp4you.net/" target="_blank"><span style="font-weight: bold; color: blue;">OH4Y</span></a>
			</div>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->


        <script src="../../vendors/jquery/dist/jquery.min.js"></script>
        <script src="../../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../../vendors/fastclick/lib/fastclick.js"></script>
        <script src="../../vendors/nprogress/nprogress.js"></script>
        <script src="../../vendors/Chart.js/dist/Chart.min.js"></script>
        <script src="../../vendors/gauge.js/dist/gauge.min.js"></script>
        <script src="../../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <script src="../../vendors/iCheck/icheck.min.js"></script>
        <script src="../../vendors/skycons/skycons.js"></script>
        <script src="../../vendors/Flot/jquery.flot.js"></script>
        <script src="../../vendors/Flot/jquery.flot.pie.js"></script>
        <script src="../../vendors/Flot/jquery.flot.time.js"></script>
        <script src="../../vendors/Flot/jquery.flot.stack.js"></script>
        <script src="../../vendors/Flot/jquery.flot.resize.js"></script>
        <script src="../../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="../../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="../../vendors/flot.curvedlines/curvedLines.js"></script>
        <script src="../../vendors/DateJS/build/date.js"></script>
        <script src="../../vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="../../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="../../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <script src="../../vendors/moment/min/moment.min.js"></script>
        <script src="../../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="../../build/js/custom.min.js"></script>
    </form>
</body>
</html>
