<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- SECURITY: Web.config and connections.config are gitignored so local IDE commits
       do not pick up machine credentials. Copy this file to Web.config (or let the
       first MSBuild do it). connections.config is copied from connections.config.example.
       Template:<connectionStrings><add name="DbConn" connectionString="Data Source=...;Initial Catalog=ats_erp;User ID=...;Password=...;" providerName="System.Data.SqlClient" /></connectionStrings> -->
  <connectionStrings configSource="connections.config" />
  <!-- SECURITY: secret values (SmtpPass, Msg91AuthKey) are kept in appsettings.secrets.config (gitignored). -->
  <appSettings file="appsettings.secrets.config">
    <add key="AutoLogoutTimeoutMinutes" value="20" />
    <add key="AutoLogoutRedirectUrl" value="https://atswork.in/" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="PayrollAuthorizedUsers" value="J8" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TimeThresholdHours" value="72" />
    <add key="F17_GrossBreaker_KPO" value="18500" />
    <add key="F17_GrossBreaker_AGL" value="20500" />
    <add key="F17_GrossBreaker_NINL" value="18500" />
    <add key="F17_GrossBreaker_JSR" value="20999" />
    <add key="F17_GrossBreaker_RSP" value="20500" />
    <add key="F17_GrossBreaker_TSKP" value="20500" />
    <add key="F17_GrossBreaker" value="20500" />
    <add key="PunchOutDurationMinutes" value="4320" />
    <add key="SmtpUser" value="it.support@aminruptechnologies.co.in" />
    <add key="SmtpPass" value="" />
    <add key="Msg91AuthKey" value="" />
    <add key="Msg91IntegratedNumber" value="919155374111" />
    <!-- WhatsApp MFA reuses the login Email-OTP code. This template only wraps that same OTP as {{1}}. -->
    <add key="Msg91MfaTemplateName" value="login_otp" />
    <add key="Msg91WhatsAppNamespace" value="af05507b_02e4_4d95_8f8c_164ce03fc2df" />
    <add key="Msg91WhatsAppLanguage" value="en" />
    <!-- Superset embedded-dashboard service password lives in appsettings.secrets.config -->
    <add key="SupersetPassword" value="" />
    <add key="DefaultPasswordPrefix" value="ATS@" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <compilation targetFramework="4.8" debug="true" />
    <authentication mode="Forms">
      <forms defaultUrl="~/bussiness/production/homepage_v2.aspx" loginUrl="~/login.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>
    <httpRuntime maxRequestLength="904857600" requestValidationMode="2.0" executionTimeout="7200" targetFramework="4.6.1" />
    <pages validateRequest="false" maintainScrollPositionOnPostBack="true">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <sessionState mode="InProc" timeout="20" />
    <machineKey decryption="AES" decryptionKey="4ae9d54c6e52b8f91d8511b21041b57b371ac58d1e784441ce7e278ebe4db73a" validationKey="1525f34901b25d56725af6ff9c0e676dfa1ea110048bf359978f7fd600174a2e68fa57b36b5b6ae953e7aab7cab1a1faefaa3052bf2ca102cd1cc2fd10173e9c" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>