<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="webmaster.master.cs" Inherits="WebApplication1.gentelella_master.production.webmaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="../../erp_images/ats_translogo.png" type="image/ico" />

    <title>Cloud ERP</title>

    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../vendors/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="../vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="../vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="../vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <link href="css/loader.css" rel="stylesheet" />
    <link href="../build/css/custom.css" rel="stylesheet" />

    <script src="../../Scripts/jquery-3.6.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-197761506-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-197761506-1');
    </script>

    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//visitors.aminruptechnologies.co.in/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>

    <script src="../../Scripts/jquery-1.7.2.min.js"></script>

    <script type="text/javascript">
        var idleTimeout;
        var logoutTime;
        
        // Fetch variables from code-behind (which pulls from web.config)
        var timeoutMinutes = <%= IdleTimeoutMinutes %>;
        var redirectUrl = '<%= AutoLogoutUrl %>';

        function startIdleTimer() {
            idleTimeout = setTimeout(function () {
                location.href = redirectUrl;
            }, timeoutMinutes * 60 * 1000); // Converts minutes to milliseconds

            // Calculate the logout time
            logoutTime = new Date();
            logoutTime.setMinutes(logoutTime.getMinutes() + timeoutMinutes);

            // Update the display immediately
            updateDisplay();
        }

        function resetIdleTimer() {
            clearTimeout(idleTimeout);
            startIdleTimer();
        }

        function handleUserActivity() {
            resetIdleTimer();
        }

        function updateDisplay() {
            var dt = new Date();
            var currentTimeLabel = document.getElementById("lblTime");
            var logoutTimeLabel = document.getElementById("lblTime1");

            // Display current time
            if (currentTimeLabel) {
                currentTimeLabel.innerHTML = dt.toLocaleTimeString();
            }

            // Calculate time left until auto logout
            var timeLeft = Math.max(0, (logoutTime - dt) / 1000); // Time left in seconds
            var minutesLeft = Math.floor(timeLeft / 60);
            var secondsLeft = Math.floor(timeLeft % 60);
            var timeLeftString = (minutesLeft < 10 ? "0" : "") + minutesLeft + ":" + (secondsLeft < 10 ? "0" : "") + secondsLeft;
            
            if (logoutTimeLabel) {
                logoutTimeLabel.innerHTML = timeLeftString;
            }

            // If we've reached 0 minutes and 0 seconds, initiate logout
            if (timeLeft <= 0) {
                location.href = redirectUrl;
                return;
            }
        }

        $(document).ready(function () {
            startIdleTimer();
            // Update display every second
            setInterval(updateDisplay, 1000);
            // Event listeners for user activity
            document.addEventListener("mousemove", handleUserActivity);
            document.addEventListener("keypress", handleUserActivity);
        });
    </script>

    <style type="text/css">
        .impersonation-banner {
            background: #f0ad4e;
            color: #3a2a00;
            text-align: center;
            padding: 8px 16px;
            font-size: 13px;
            border-bottom: 1px solid #d58512;
            position: relative;
            z-index: 10001;
        }
        .impersonation-banner a {
            color: #3a2a00;
            font-weight: bold;
            text-decoration: underline;
        }

        #loader {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0); /* Transparent background */
        }

        .loader img {
            display: block;
            margin: 0 auto;
        }

        /* Desktop Only */
        @media (min-width: 992px) {
            #menu_toggle { display: none !important; }
            body.nav-sm .nav.child_menu, 
            body.nav-sm .active-sm {
                display: none !important; 
            }
            body.nav-md .container.body .right_col,
            body.nav-sm .container.body .right_col {
                margin-left: 70px !important; 
                width: auto !important; 
                padding: 10px 20px !important;
                z-index: 1;
            }
            .col-md-3.left_col {
                position: fixed !important; 
                z-index: 9999 !important;
                height: 100vh !important;
                overflow-y: auto !important;
                transition: width 0.2s ease; 
            }
            .nav_menu { width: 100%; margin-bottom: 0; }
            body.nav-sm .site_title span { display: none !important; }
            body.nav-sm .nav_title { width: 70px !important; }
        }

        /* Mobile Only */
        @media (max-width: 991px) {
            #menu_toggle { display: block !important; }
        }
    </style>
</head>

<body class="nav-sm footer_fixed">
    <div id="loader">
        <img src="../../erp_images/Hourglass.gif" alt="loadergif" />
    </div>

    <div style="display: none;" id="content">
        <form id="form1" runat="server">
            <div id="pnl_impersonationBanner" runat="server" visible="false" class="impersonation-banner">
                Viewing as
                <asp:Label ID="lbl_impersonatedUser" runat="server" Font-Bold="true"></asp:Label>
                (Workman
                <asp:Label ID="lbl_impersonatedWorkman" runat="server" Font-Bold="true"></asp:Label>).
                Original admin:
                <asp:Label ID="lbl_originalAdmin" runat="server" Font-Bold="true"></asp:Label>.
                <a href="SwitchUser.aspx">Return to my account</a>
            </div>
            <div class="container body">
                <div class="main_container">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            <div class="navbar nav_title" style="border: 0;">
                                <a href="#" class="site_title">
                                    <asp:Image ID="Image1" runat="server" ImageUrl="~/erp_images/ats_logo.jpg" Height="50" Width="50" /><span>&nbsp;&nbsp;ATS</span>
                                </a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="profile clearfix">
                                <div class="profile_pic">
                                    <img id="ProfilePic_1" src="..." runat="server" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    Hi,
                                    <asp:Label ID="lbl_loginusername1" runat="server" Text="Login_Name" Font-Bold="true"></asp:Label>
                                </div>
                            </div>
                            <br />

                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">
                                    <h3>General</h3>
                                    <ul class="nav side-menu">
                                        <li id="HomePage" runat="server" visible="false"><a><i class="fa fa-home"></i>Home <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="Home1" runat="server" visible="false"><a href="homepage.aspx">Dashboard-1<span class="label label-success pull-right">Click !!</span></a></li>
                                                <li id="Home2" runat="server" visible="true"><a href="homepage_v2.aspx">Dashboard-2<span class="label label-success pull-right">Click !!</span></a></li>
                                                <li id="AttendnaceCal" runat="server" visible="false"><a href="vw_emp_attencal.aspx">Attendance<span class="label label-success pull-right">Click !!</span></a></li>
                                            </ul>
                                        </li>

                                        <li id="DataMastering" runat="server" visible="false"><a><i class="fa fa-edit"></i>Data Mastering<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="DM_OrgData" runat="server" visible="false" class="sub_menu"><a href="deta_mustering.aspx">Organization Data</a></li>
                                                <li id="DM_EmpData" runat="server" visible="false"><a href="deta_employeemaster.aspx">Employee Data</a></li>
                                            </ul>
                                        </li>

                                        <li id="JOBManpower" runat="server" visible="false"><a><i class="fa fa-edit"></i>JOB & Manpower<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="CreateJOBS" runat="server" visible="false"><a href="jobs_and_manpower_v2.aspx">Create JOBID</a></li>
                                                <li id="ManageJOBS" runat="server" visible="false"><a href="manage_jobid_v2.aspx">Manage JOBID</a></li>
                                                <li id="JOBApproval" runat="server" visible="false"><a href="jobs_approval.aspx">JOB Approval</a></li>
                                                <li id="EmpSearch" runat="server" visible="false"><a href="searchemployee.aspx">Employee Search</a></li>
                                            </ul>
                                        </li>

                                        <li id="Memo_Billing" runat="server" visible="false"><a><i class="fa fa-edit"></i>Memo & Billing<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="crt_spm" runat="server"><a href="vw_inchsupmem.aspx">Supply Memo</a></li>
                                                <li id="crt_lim" runat="server"><a href="vw_lineitemjobs.aspx">Line Item Memo</a></li>
                                                <li id="crt_memosum" runat="server"><a href="job_create_summary.aspx">Memo Summary</a></li>
                                            </ul>
                                        </li>

                                        <li id="CSM" runat="server" visible="false"><a><i class="fa fa-edit"></i>CSM<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="csms_mainview" runat="server" visible="false"><a href="csms_mainview.aspx">CSM Forms</a></li>
                                                <li id="csm_approvals" runat="server" visible="false"><a href="csm_approvals.aspx">CSM Approval</a></li>
                                                <li id="csm_reports" runat="server" visible="false"><a href="csm_reports.aspx">CSM Reports</a></li>
                                            </ul>
                                        </li>

                                        <li id="loans_adeductions" runat="server" visible="false"><a><i class="fa fa-edit"></i>Loans & Deductions<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="manage_loans" runat="server" visible="false"><a href="#">Manage Loans</a></li>
                                                <li id="manage_deds" runat="server" visible="false"><a href="#">Manage Deductions</a></li>
                                            </ul>
                                        </li>

                                        <li id="leaves_attendance" runat="server" visible="false"><a><i class="fa fa-edit"></i>Leaves & Attendance<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="manage_lvs" runat="server" visible="false"><a href="#">Manage Leaves</a></li>
                                                <li id="manage_atten" runat="server" visible="false"><a href="#">Manage Attendance</a></li>
                                            </ul>
                                        </li>

                                        <li id="Payroll" runat="server" visible="false"><a><i class="fa fa-edit"></i>Organization Payroll<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="mng_pyrl" runat="server" visible="false"><a href="pyrl_managedashbrd.aspx">Manage Payroll</a></li>
                                                <li id="gnrt_pyrl" runat="server" visible="false"><a href="#">Generate Payroll</a></li>
                                                <li id="rpts_pyrl" runat="server" visible="false"><a href="#">Export Payroll</a></li>
                                            </ul>
                                        </li>

                                        <li id="Expenses" runat="server" visible="false"><a><i class="fa fa-edit"></i>Expenses<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="budget" runat="server" visible="false"><a href="#">Budget</a></li>
                                                <li id="add_exphd" runat="server" visible="false"><a href="add_expense_heads.aspx">Expense Heads</a></li>
                                                <li id="add_expsbhd" runat="server" visible="false"><a href="add_expense_subheads.aspx">Expense Sub-Heads</a></li>
                                                <li id="add_exp" runat="server" visible="false"><a href="add_expenses.aspx">Add Expenses</a></li>
                                                <li id="mng_exp" runat="server" visible="false"><a href="view_expenses.aspx">View & Manage Expenses</a></li>
                                            </ul>
                                        </li>

                                        <li id="Helpdesk" runat="server" visible="false"><a><i class="fa fa-edit"></i>Grievances<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="hlpdsk_new" runat="server" visible="false"><a href="add_nwhelpdsk.aspx">New Request</a></li>
                                                <li id="hlpdsk_view" runat="server" visible="false"><a href="GrievanceReq_View.aspx">Track Request</a></li>
                                            </ul>
                                        </li>

                                        <li id="Analytics" runat="server" visible="false"><a><i class="fa fa-edit"></i>Reports & Analytics<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li id="anlys_musterdeta" runat="server" visible="false"><a href="anlys_musterdeta.aspx">Master Data</a></li>
                                                <li id="anlys_jobsdeta" runat="server" visible="false" class="sub_menu"><a href="anlys_jobsdeta.aspx">JOBS & Manpower</a></li>
                                                <li id="anlys_employees" runat="server" visible="false"><a href="anlys_employees.aspx">Employee Summary</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="menu_section">
                                    <h3>Live On</h3>
                                    <ul class="nav side-menu">
                                        <li><a href="../../index.html" target="_blank"><i class="fa fa-laptop"></i>Landing Page <span class="label label-success pull-right">Click !!</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-footer hidden-small">
                                <a data-toggle="tooltip" data-placement="top" title="Settings">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Lock">
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Logout" href="#">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="top_nav">
                        <div class="nav_menu">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <nav class="nav navbar-nav">
                                <ul class="navbar-right">
                                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                            <img id="ProfilePic_2" runat="server" alt="" src="...."><asp:Label ID="lbl_loginusername2" runat="server" Text="Login_Name"></asp:Label>
                                        </a>
                                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="manage_profile.aspx">Manage Profile</a>
                                            <a class="dropdown-item" id="lnk_switchUser" runat="server" href="SwitchUser.aspx" visible="false">Switch User</a>
                                            <a class="dropdown-item" target="_blank" href="https://wa.me/message/IWCQS7KUJRAHA1">Support</a>
                                            <button type="button" class="dropdown-item btn btn-primary btn-sm" id="btn_Logout" data-toggle="modal" data-target="#MyModal_Logout">Logout</button>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
                
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
            
            </div>

            <div class="modal fade" id="MyModal_Logout" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm your Log Out</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 form-group">
                                            <label><span class="text text-danger">Click to Close the Session</span></label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-group">
                                            <asp:Button ID="btn_lgout" runat="server" CausesValidation="false" Text="Yes" CssClass="btn btn-danger btn-sm" OnClick="btn_lgout_Click" />
                                            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <footer>
                <div class="text-center" id="iprow" runat="server" visible="false">
                    Login from IP :
                    <asp:Label ID="lbl_IPAddress" runat="server" Text="N/A" Visible="false"></asp:Label>
                </div>
                <div class="text-right small">
                    Autologout >
                    <asp:Label ID="lblTime1" runat="server" Text="N/A" Font-Bold="true" ForeColor="IndianRed" Visible="true"></asp:Label>
                    || Time :
                    <asp:Label ID="lblTime" runat="server" Text="N/A" Font-Bold="true" ForeColor="Black" Visible="true"></asp:Label>
                    || © 2021-2025 <span style="font-weight: bold; color: darkred;">ATS,JSR</span>
                    || Powered by <a href="#" target="_blank"><span style="font-weight: bold; color: blue;">Aminrup Technologies, JSR</span></a>
                </div>
                <div class="clearfix"></div>
            </footer>

            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById('content').style.display = 'block';
                    document.getElementById('loader').style.display = 'none';
                });
            </script>

            <script src="../vendors/jquery/dist/jquery.min.js"></script>
            <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="../vendors/fastclick/lib/fastclick.js"></script>
            <script src="../vendors/nprogress/nprogress.js"></script>
            <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
            <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
            <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
            <script src="../vendors/iCheck/icheck.min.js"></script>
            <script src="../vendors/skycons/skycons.js"></script>
            <script src="../vendors/Flot/jquery.flot.js"></script>
            <script src="../vendors/Flot/jquery.flot.pie.js"></script>
            <script src="../vendors/Flot/jquery.flot.time.js"></script>
            <script src="../vendors/Flot/jquery.flot.stack.js"></script>
            <script src="../vendors/Flot/jquery.flot.resize.js"></script>
            <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
            <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
            <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
            <script src="../vendors/DateJS/build/date.js"></script>
            <script src="../vendors/moment/min/moment.min.js"></script>
            <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
            <script src="../build/js/custom.js"></script>
            <script src="../vendors/pnotify/dist/pnotify.js"></script>
            <script src="../vendors/pnotify/dist/pnotify.buttons.js"></script>
            <script src="../vendors/pnotify/dist/pnotify.nonblock.js"></script>
            <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    var $body = $('body');
                    var $sidebar = $('.left_col');

                    function isDesktop() {
                        return $(window).width() >= 992;
                    }

                    if (isDesktop()) {
                        $body.removeClass('nav-md').addClass('nav-sm');
                    } else {
                        $body.removeClass('nav-sm').addClass('nav-md');
                    }

                    $sidebar.hover(
                        function() {
                            if (isDesktop()) {
                                $body.removeClass('nav-sm').addClass('nav-md');
                            }
                        },
                        function() {
                            if (isDesktop()) {
                                $body.removeClass('nav-md').addClass('nav-sm');
                                $('.child_menu').slideUp(200);
                                $('ul.side-menu li').removeClass('active');
                            }
                        }
                    );

                    $(window).resize(function() {
                        if (isDesktop()) {
                            $body.removeClass('nav-md').addClass('nav-sm');
                        }
                    });
                });
            </script>
        </form>
    </div>
</body>
</html>